/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 10, 2023, 11:33:43 AM
    Author     : isi
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


            :root{
                /* ===== Colors ===== */
                --primary-color: #0E4BF1;
                --panel-color: #FFF;
                --text-color: #000;
                --black-light-color: #707070;
                --border-color: #e6e5e5;
                --toggle-color: #DDD;
                --box1-color: #4DA3FF;
                --box2-color: #FFE6AC;
                --box3-color: #E7D1FC;
                --title-icon-color: #fff;

                /* ====== Transition ====== */
                --tran-05: all 0.5s ease;
                --tran-03: all 0.3s ease;
                --tran-03: all 0.2s ease;
            }

@keyframes slide {
    0% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    50% {
        left: -100%;
    }

    /* chaque image est déplacée de 100% vers la gauche du conteneur */


    100% {
        left: -200%;
    }


}
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body{
    margin: 0;
    background-color: #f8f8f8;
}
ul li {
    color: red;
}
ul a{
    text-decoration : none;
    font-size: 20px;
    color: black;
}

.login a {
    display: block;
    text-align: center;
    margin-top: 60px;
}


a:hover{
    color:#DB7093;
}

ul, li{
    list-style: none;
}
footer{
    width : 100%;
    display: flex;
    justify-content :space-between;
    align-items:center;
    background-color: #22333b;
    color: white;
    font-size: 20px;
    padding: 20px 50px;
    font-weigth : 700;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header>div:nth-child(2):not(.greatDiv):not(.select-menu){
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.langCartPanel{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header div:nth-child(2) #connectPanel{
    width: 160px;
    padding-top: 10px;

}
header div:nth-child(2)>img{
    max-height: 50px;
}

#connectPanel li{
    display: inline-block;
}
#connectPanel a {
    font-size: 12px;

}
header>div a, header>div h4{
    margin-top: 20px;
    margin-right: 10px;
}

.logo{
    width: 150px;
    height: 75px;
    background-image: url('../images/electronik.png');
    background-position: center;
    background-size: cover
}

.select-menu{
    width: 50px;
    margin-right: 25px;
}
.shoppingCartIcon{
    font-size: 50px;
}
.cartPanel{
    display: flex;
    width: 110px;
    align-items: center;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    display: none;

}
.select-menu.active .options{
    display: block;
    position: absolute;
    z-index: 100;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}
.greatDiv{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;

}
#cartCount{
    background-color: red;
    color: white;
    padding: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    right: 60px;
    top: 10px;
}
#cart{
    position: absolute;
    top: 45px;
    right: 80px;
    width: 400px;
    background-color: #dee2e6;
    padding: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  #707070;
}
.cartItem{
    border-radius: 10px;
    margin: 10px;
    display: flex;
    padding: 10px;
    background-color: white;
}
.cartItemImage{
    width: 50px;
    height: 50px;
    background-size: cover;
}

/*NAVBAR*/


.nav {

    width: 100%;
    padding: 15px 200px;
    background: #22333b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}
nav a {
    color: #fff;
    text-decoration: none;
}
.nav .logo {
    font-size: 22px;
    font-weight: 500;
}
.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}
.nav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}
.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}
.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: red;
    transform: translateY(-50%);
}
.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}




#favoris{
    width: 100%;
}

section #slider {
    /* on définit une largeur du slider afin de le centrer */
    width: 100%;
    /* on centre le slider */
    /* on évite que le contenu qui déborde soit visible. Si on l'enlève, on voit toutes les images */
    overflow: hidden;
}

section #slider #slider-container {
    /* on applique une position relative sur le conteneur des images pour les animer ensuite avec la propriété left */
    position: relative;
    /* on définit la largeur du conteneur des images */
    width: 500%;
    /* on applique l'animation slide pendant 10 secondes avec un loop infini */
    margin: auto;
    animation: 10s slide infinite;
}

section #slider #slider-container img {
    /* on applique une largeur de 20% (100% / 5 images = 20%) */
    width: 20%;
    max-height: 384px;
    /* et on place les images les unes à côté des autres */
    float: left;
}





/*home*/
#home{
    margin-bottom: 20px;
}
#home .homecontainer {
    background-color:white;
    margin: 15px 30px;
    padding: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
#home h2 {
    text-align: center;
    padding: 10px;
    background-color:#780116;
    color: white;
}

/*Login*/ /*Sign/

/* Centrer le formulaire */
.login, .inscription{
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: 40px auto;
}

.home.show  {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.signup_form {
    display: none;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
    border-color: red;
}
.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}
.input_box i.input,
.input_box i.email,
.input_box i.password {
    left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: #7d2ae8;
}
.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}
.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}

.checkbox label {
    font-size: 12px;
    cursor: pointer;
    color: #0b0217;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

/*Panier */
.panier {
    margin: 0 auto;
    max-width: 750px;
    padding: 20px;
}

.panier #cart-title {
    font-size: 24px;
    font-weight: bold;
}

.panier #cart-table  {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.panier #cart-table th,
.panier #cart-table td {
    padding: 10px;
    text-align: left;
}
.panier #cart-table2 th,#cart-table2 td{
    text-align: right;
}

.panier p{
    text-align: right;
    margin-right: 50px;
}


.panier #cart-table img {
    width: 60px;
    object-fit: cover;
    margin-right: 30px;
}

.panier #caisse {
    display: block;
    margin-top: 10px;
    background-color: #ff887f;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.panier #caisse:hover {
    background-color: red;
}

/*Produits card*/
.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px auto;
    justify-content: space-around
}

.card{
    width: 250px;
    height: 340px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;
}
.title{
    display: inline-block;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.product_detail{
    width: 100%;
    height: 140px;
    background-color: #21222d;
    border-radius: 0 40% 0 0;
    padding: 0.8rem;
    color: #fff;
}
.rating {
    font-size: 10px;
    color: black;
    height: 10px;
}
i.activeStar{
    color: yellow;
}


.product_detail p{
    font-size: 10px;
    color: #5f5f6b;
    margin: 15px;
}
.buttons{
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}

.price{
    font-weight: 700;
    font-size: 12px;
}

.btn{
    position: relative;
    border: none;
    outline: none;
    background-color: #35353f;
    color: #fff;
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration:none;


}
.cart{
    width: 100px;
    padding: 5px;
}
.favorite{
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}
.btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #35353f;
    height: 40px;
    transition: 0.3s;

}
.cart::before{
    width: 100px;
    border-radius: 50px;

}
.favorite::before{
    width: 40px;
    border-radius: 50%;
}
.btn:hover::before{
    border-color: red;
}

/*pagination */
.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination{
    width: 500px;
    border-radius: 35px;
    box-shadow: 0 0 5px 0px rgb(3,3,43);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21222d;
    padding: 5px;
    margin-bottom: 20px
}

.pagination a {
    padding: 9px 10px;
    font-weight: 500;
    text-decoration: none;
    font-size: 25px;
    color: rgb(155,155,238);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
.control{
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(200,200,239);
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 25px;
    transition: 0.5s ease-in-out;

}
.disabled{
    color: rgba(12,16,41,0.5);
    cursor: default;
}
.control:not(.disabled):hover, .pageNumbers a:hover{
    background-color: rgb(9,9,75);
    color: white;
}
a.active{
    background-color: rgb(9,9,75);
    color: white;
}
.hidden{
    display: none;
}
/*footer*/


footer section {
    width: 80%;
    color: white;
}


footer img {
    width: 20px;

}

footer section:nth-child(2) ul li {
    margin: 10px;
    width: 40%;

}

footer section:nth-child(3) ul li {
    margin: 10px;
    width: 30%;

}

footer section:nth-child(4) ul li {
    margin: 0;
    display: inline-block;
    margin: 0 5px;
}
body.dark{
                --primary-color: #3A3B3C;
                --panel-color: #242526;
                --text-color: #CCC;
                --black-light-color: #CCC;
                --border-color: #4D4C4C;
                --toggle-color: #FFF;
                --box1-color: #3A3B3C;
                --box2-color: #3A3B3C;
                --box3-color: #3A3B3C;
                --title-icon-color: #CCC;
            }
            /* === Custom Scroll Bar CSS === */
            ::-webkit-scrollbar {
                width: 8px;
            }
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            ::-webkit-scrollbar-thumb {
                background: var(--primary-color);
                border-radius: 12px;
                transition: all 0.3s ease;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #0b3cc1;
            }

            body.dark::-webkit-scrollbar-thumb:hover,
            body.dark .activity-data::-webkit-scrollbar-thumb:hover{
                background: #3A3B3C;
            }

            .admin nav{
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 250px;
                padding: 10px 14px;
                background-color: var(--panel-color);
                border-right: 1px solid var(--border-color);
                transition: var(--tran-05);
            }
            .admin nav.close{
                width: 73px;
            }
            .admin nav .logo-name{
                display: flex;
                align-items: center;
            }
            .admin nav .logo-image{
                display: flex;
                justify-content: center;
                min-width: 45px;
            }
            .admin nav .logo-image img{
                width: 40px;
                object-fit: cover;
                border-radius: 50%;
            }

            .admin nav .logo-name .logo_name{
                font-size: 22px;
                font-weight: 600;
                color: var(--text-color);
                margin-left: 14px;
                transition: var(--tran-05);
            }
            .admin nav.close .logo_name{
                opacity: 0;
                pointer-events: none;
            }
            .admin nav .menu-items{
                margin-top: 40px;
                height: calc(100% - 90px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .menu-items li{
                list-style: none;
            }
            .menu-items li a{
                display: flex;
                align-items: center;
                height: 50px;
                text-decoration: none;
                position: relative;
            }
            .nav-links li a:hover:before{
                content: "";
                position: absolute;
                left: -7px;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: var(--primary-color);
            }
            body.dark li a:hover:before{
                background-color: var(--text-color);
            }
            .menu-items li a i{
                font-size: 24px;
                min-width: 45px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--black-light-color);
            }
            .menu-items li a .link-name{
                font-size: 18px;
                font-weight: 400;
                color: var(--black-light-color);
                transition: var(--tran-05);
            }
            .admin nav.close li a .link-name{
                opacity: 0;
                pointer-events: none;
            }
            .nav-links li a:hover i,
            .nav-links li a:hover .link-name{
                color: var(--primary-color);
            }
            body.dark .nav-links li a:hover i,
            body.dark .nav-links li a:hover .link-name{
                color: var(--text-color);
            }
            .menu-items .logout-mode{
                padding-top: 10px;
                border-top: 1px solid var(--border-color);
            }
            .menu-items .mode{
                display: flex;
                align-items: center;
                white-space: nowrap;
            }
            .menu-items .mode-toggle{
                position: absolute;
                right: 14px;
                height: 50px;
                min-width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .mode-toggle .switch{
                position: relative;
                display: inline-block;
                height: 22px;
                width: 40px;
                border-radius: 25px;
                background-color: var(--toggle-color);
            }
            .switch:before{
                content: "";
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                height: 15px;
                width: 15px;
                background-color: var(--panel-color);
                border-radius: 50%;
                transition: var(--tran-03);
            }
            .admin body.dark .switch:before{
                left: 20px;
            }

            .dashboard{
                position: relative;
                left: 250px;
                background-color: var(--panel-color);
                min-height: 100vh;
                width: calc(100% - 250px);
                padding: 10px 14px;
                transition: var(--tran-05);
            }
            nav.close ~ .dashboard{
                left: 73px;
                width: calc(100% - 73px);
            }
            .dashboard .top{
                position: fixed;
                top: 0;
                left: 250px;
                display: flex;
                width: calc(100% - 250px);
                justify-content: space-between;
                align-items: center;
                padding: 10px 14px;
                background-color: var(--panel-color);
                transition: var(--tran-05);
                z-index: 10;
            }
            nav.close ~ .dashboard .top{
                left: 73px;
                width: calc(100% - 73px);
            }
            .dashboard .top .sidebar-toggle{
                font-size: 26px;
                color: var(--text-color);
                cursor: pointer;
            }
            .dashboard .top .search-box{
                position: relative;
                height: 45px;
                max-width: 600px;
                width: 100%;
                margin: 0 30px;
            }
            .top .search-box input{
                position: absolute;
                border: 1px solid var(--border-color);
                background-color: var(--panel-color);
                padding: 0 25px 0 50px;
                border-radius: 5px;
                height: 100%;
                width: 100%;
                color: var(--text-color);
                font-size: 15px;
                font-weight: 400;
                outline: none;
            }
            .top .search-box i{
                position: absolute;
                left: 15px;
                font-size: 22px;
                z-index: 10;
                top: 50%;
                transform: translateY(-50%);
                color: var(--black-light-color);
            }
            .top img{
                width: 40px;
                border-radius: 50%;
            }
            .dashboard .dash-content{
                padding-top: 50px;
            }
            .dash-content .title{
                display: flex;
                align-items: center;
                margin: 60px 0 30px 0;
            }
            .dash-content .title i{
                position: relative;
                height: 35px;
                width: 35px;
                background-color: var(--primary-color);
                border-radius: 6px;
                color: var(--title-icon-color);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
            .dash-content .title .text{
                font-size: 24px;
                font-weight: 500;
                color: var(--text-color);
                margin-left: 10px;
            }
            .dash-content .boxes{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .dash-content .boxes .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 12px;
                width: calc(100% / 3 - 15px);
                padding: 15px 20px;
                background-color: var(--box1-color);
                transition: var(--tran-05);
            }
            .boxes .box i{
                font-size: 35px;
                color: var(--text-color);
            }
            .boxes .box .text{
                white-space: nowrap;
                font-size: 18px;
                font-weight: 500;
                color: var(--text-color);
            }
            .boxes .box .number{
                font-size: 40px;
                font-weight: 500;
                color: var(--text-color);
            }
            .boxes .box.box2{
                background-color: var(--box2-color);
            }
            .boxes .box.box3{
                background-color: var(--box3-color);
            }


            .dash-content .activity .activity-data{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
            .activity .activity-data{
                display: flex;
            }
            .activity-data .data{
                display: flex;
                flex-direction: column;
                margin: 0 15px;
            }
            .activity-data .data-title{
                font-size: 20px;
                font-weight: 500;
                color: var(--text-color);
            }
            .activity-data .data .data-list{
                font-size: 18px;
                font-weight: 400;
                margin-top: 20px;
                white-space: nowrap;
                color: var(--text-color);
            }
            .admin td, tr{
                padding: 10px;
                border: 0px;
            }

/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }
    .nav .search-box {
        right: 150px;
    }

}
@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }
    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
    .homeCategory{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }
    .nav {
        padding: 15px 20px;
    }
    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #11101d;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }
    .nav.openNav .nav-links {
        left: 0;
    }
    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    footer{
        flex-direction: column;
    }
    .homeCategory{
        display: none;
    }
    #home .homecontainer {
        justify-content: space-around;

    }
}





